.news-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
}

.news-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-content h4 {
  font-size: 15px;
  margin-bottom: 8px;
  color: #0f172a;
}

.news-content p {
  font-size: 13px;
  color: #475569;
  flex: 1;
}

.read-more {
  margin-top: 10px;
  font-size: 13px;
  color: #2563eb;
  font-weight: bold;
}
