* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef2f7;
  font-family: "Segoe UI", sans-serif;
}

.app {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
}

.buttons button {
  margin: 0 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  background: #38bdf8;
  color: black;
}
